<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">

    <link rel="stylesheet" href="profile.css">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-white mb-2">
        <div class="container">
            <div class="profile py-3 d-flex justify-content-between align-items-center">
                <div class="data-diri">
                    <h1>Gina</h1>
                    <span>085697109666</span>
                </div>
                <div class="foto-profile">
                    <img src="../../asset/gina.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white mb-2">
        <div class="container">
            <div class="setting py-3">
                <a href="#">
                    <div class="email d-flex justify-content-between align-items-center">
                        <h1>Email</h1>
                        <div>
                            <span>********ina@****l.com</span>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="../../asset/underline-3.png" width="100%" alt="">
                    </div>
                </a>

                <a href="#">
                    <div class="Pertanyaan d-flex justify-content-between align-items-center">
                        <h1>Pertanyaan Keamanan</h1>
                        <div>
                            <span>Sudah diatur</span>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="../../asset/underline-3.png" width="100%" alt="">
                    </div>
                </a>

                <a href="#">
                    <div class="pin d-flex justify-content-between align-items-center">
                        <h1>Pengaturan PIN</h1>
                        <div>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="../../asset/underline-3.png" width="100%" alt="">
                    </div>
                </a>

                <a href="#">
                    <div class="bahasa d-flex justify-content-between align-items-center">
                        <h1>Bahasa</h1>
                        <div>
                            <span>Indonesia</span>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <div class="bg-white mb-2">
        <div class="container">
            <div class="setting py-3">
                <a href="#">
                    <div class="Ketentuan d-flex justify-content-between align-items-center">
                        <h1>Ketentuan Layanan</h1>
                        <div>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="../../asset/underline-3.png" width="100%" alt="">
                    </div>
                </a>

                <a href="#">
                    <div class="kebijakan d-flex justify-content-between align-items-center">
                        <h1>kebijakan Privasi</h1>
                        <div>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="../../asset/underline-3.png" width="100%" alt="">
                    </div>
                </a>

                <a href="#">
                    <div class="bantuan d-flex justify-content-between align-items-center">
                        <h1>Pusat Bantuan</h1>
                        <div>
                            <img src="../../asset/right.svg" alt="">
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <div class="bg-white mb-2">
        <div class="container">
            <div class="keluar py-1 text-center">
                <a href="#">
                    <p>Keluar</p>
                </a>
            </div>
        </div>
    </div>




    <!-- Bottom Navbar -->
    <nav
        class="navbar navbar-white bg-white navbar-expand fixed-bottom border border-2 border-start-0 border-end-0 border-bottom-0">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                    <img src="../../asset/home.svg" alt="">
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="../Voucher/voucer.html" class="nav-link">
                    <img src="../../asset/tiket.svg" alt="">
                    <p>Voucher</p>
                </a>
            </li>
            <li class="nav-item position-relative">
                <a href="#" class="nav-link">
                    <img src="../../asset/scan.svg" class="position-absolute top-0 start-50 translate-middle" alt="">
                    <div class="mt-4">
                        <p>Bayar</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="../inbox/inbox.html" class="nav-link ">
                    <img src="../../asset/mail.svg" alt="">
                    <p>Inbox</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active"><img src="../../asset/user.svg" alt="">
                    <p>Profile</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Menu Bar -->




    <script src="../../js/bootstrap.js"></script>
</body>

</html>