<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">

    <link rel="stylesheet" href="style.css">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="container mt-3">
            <div class="navbar-TopUp">
                <a href="inbox.html">
                    <img src="../../asset/x.svg" alt="">
                </a>
                <div class="text-center">
                    <img src="../../asset/info.svg" alt="">
                    <img src="../../asset/underline-full.png" width="100%" alt="">
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <a href="detail-notifikasi.html">
            <div class="card-body">
                <h5 class="card-time">26 Januari 2022, 09:37</h5>
                <h6 class="card-judul">Info</h6>
                <p class="card-text">Selamat kamu mendapatkan saldo bonus sebesar Rp10.000 dari promo tahun baru 2022. dengan terus melakukan Top up saldo dan melakukan banyak transaksi, maka anda berkesempatan mendapat beragam bonus. Yuk terus transaksi pakai SPE Wallet</p>
            </div>
        </a>
    </div>

    <footer>
        <div class="container">
            <div class="text-center fixed-bottom ">
                <div class="px-4 py-2 bg-white">
                    <a href="inbox.html">
                        <button class="button-inbox w-100">Tutup</button>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/bootstrap.js"></script>
</body>

</html>