<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../../../css/bootstrap.css">

    <link rel="stylesheet" href="style.css">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="container mt-2">
            <div class="navbar-TopUp">
                <div class="text-center">
                    <h1>Inbox</h1>
                </div>
            </div>
        </div>
    </nav>

    <!-- Pilihan -->
    <div class="pilihan">
        <div class="container">
            <div class="row text-center">
                <div class="col-6 non-active">
                    <a href="inbox.html">
                        Notifikasi
                    </a>
                </div>
                <div class="col-6 active-2">
                    Informasi
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center mt-4">
            <img src="../../asset/informasi.svg" alt="">
            <div class="text mt-3">
                <h1>Belum Ada Informasi</h1>
                <span>kami pasti kasih tahu anda jika ada informasi </span>
            </div>
        </div>
    </div>


    <!-- Bottom Navbar -->
    <nav
        class="navbar navbar-white bg-white navbar-expand fixed-bottom border border-2 border-start-0 border-end-0 border-bottom-0">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                    <img src="../../asset/home.svg" alt="">
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="../Voucher/voucer.html" class="nav-link">
                    <img src="../../asset/tiket.svg" alt="">
                    <p>Voucher</p>
                </a>
            </li>
            <li class="nav-item position-relative">
                <a href="#" class="nav-link">
                    <img src="../../asset/scan.svg" class="position-absolute top-0 start-50 translate-middle" alt="">
                    <div class="mt-4">
                        <p>Bayar</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <img src="../../asset/mail.svg" alt="">
                    <p>Inbox</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="../Profile/profile.html" class="nav-link"><img src="../../asset/user.svg" alt="">
                    <p>Profile</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Menu Bar -->




    <script src="../../js/bootstrap.js"></script>
</body>

</html>