<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="riwayat.css">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="container mt-2">
            <div class="navbar-Riwayat">
                <div class="back">
                    <a href="../../index.html">
                        <img src="../../asset/Icon-back.png" alt="">
                    </a>
                </div>
                <div class="text-center">
                    <h1>Riwayat Transaksi</h1>
                </div>
            </div>
            <img src="../../asset/underline.png" width="100%" alt="">
        </div>
    </nav>

    <section id="riwayat">
        <div class="container">
            <div class="riwayat-transaksi">
                <a href="../Riwayat/Riwayat-Detail/TopUp/riwayat-detail-topup-bank.html">
                    <div class="card pt-2 px-2 my-2">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="header">
                                    <h1>Bank Bca</h1>
                                </div>
                                <div class="tanggal">
                                    <p>24 Januari 2022, 10:30:20 WIB</p>
                                </div>
                                <div class="jenis">
                                    <p>Top Up</p>
                                </div>
                            </div>
                            <div class="col-6 nominal-plus px-auto text-end">
                                <p>+Rp500.000</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Riwayat-Detail/Online-Shop/riwayat-detail-online-shop.html">
                    <div class="card pt-2 px-2 my-2">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="header">
                                    <h1>Tokopedia</h1>
                                </div>
                                <div class="tanggal">
                                    <p>24 Januari 2022, 10:30:20 WIB</p>
                                </div>
                                <div class="jenis">
                                    <p>Pembayaran</p>
                                </div>
                            </div>
                            <div class="col-6 nominal-minus px-auto text-end">
                                <p>-Rp151.000</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Riwayat-Detail/Transfer-Keluar/detail-transfer-keluar.html">
                    <div class="card pt-2 px-2 my-2">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="header">
                                    <h1>Transfer ke Nur Alfy</h1>
                                </div>
                                <div class="tanggal">
                                    <p>24 Januari 2022, 10:30:20 WIB</p>
                                </div>
                                <div class="jenis">
                                    <p>Transfer Keluar</p>
                                </div>
                            </div>
                            <div class="col-6 nominal-minus px-auto text-end">
                                <p>-Rp20.000</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Riwayat-Detail/Transfer-masuk/transer-masuk.html">
                    <div class="card pt-2 px-2 my-2">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="header">
                                    <h1>Transfer Dari  M. Budi </h1>
                                </div>
                                <div class="tanggal">
                                    <p>24 Januari 2022, 10:30:20 WIB</p>
                                </div>
                                <div class="jenis">
                                    <p>Transfer Masuk</p>
                                </div>
                            </div>
                            <div class="col-6 nominal-plus px-auto text-end">
                                <p>+Rp50.000</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <script src="script/nominal.js"></script>
</body>

</html>