<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">

    <link rel="stylesheet" href="style.css">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="container mt-2">
            <div class="navbar-TopUp">
                <div class="text-center">
                    <h1>Voucher</h1>
                </div>
            </div>
        </div>
    </nav>


    <!-- Hero -->
    <div class="container">
        <div class="d-flex gap-2 align-items-center mb-2">
            <img src="../../asset/voucher-menu.svg" alt="">
            <span class="text-judul">Voucher Saya</span>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">Voucher Potongan Rp5.000</h5>
                        <p class="card-text">Berlaku untuk Jenis transaksi apapun</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">Voucher Potongan Rp5.000</h5>
                        <p class="card-text">Berlaku untuk Jenis transaksi apapun</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">Voucher Potongan Rp5.000</h5>
                        <p class="card-text">Berlaku untuk Jenis transaksi apapun</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">Voucher Potongan Rp5.000</h5>
                        <p class="card-text">Berlaku untuk Jenis transaksi apapun</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">Voucher Potongan Rp5.000</h5>
                        <p class="card-text">Berlaku untuk Jenis transaksi apapun</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero -->



    <!-- Bottom Navbar -->
    <nav
        class="navbar navbar-white bg-white navbar-expand fixed-bottom border border-2 border-start-0 border-end-0 border-bottom-0">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                    <img src="../../asset/home.svg" alt="">
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <img src="../../asset/tiket.svg" alt="">
                    <p>Voucher</p>
                </a>
            </li>
            <li class="nav-item position-relative">
                <a href="#" class="nav-link">
                    <img src="../../asset/scan.svg" class="position-absolute top-0 start-50 translate-middle" alt="">
                    <div class="mt-4">
                        <p>Bayar</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="../inbox/inbox.html" class="nav-link">
                    <img src="../../asset/mail.svg" alt="">
                    <p>Inbox</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="../Profile/profile.html" class="nav-link"><img src="../../asset/user.svg" alt="">
                    <p>Profile</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Menu Bar -->




    <script src="../../js/bootstrap.js"></script>
</body>

</html>